.header{
    /* background-color: dodgerblue;
    color: snow; */
    background-color: #b8543a;
    color: black;
    text-align: center;

    grid-area: header;
    padding-bottom: 5%;
    padding: left 0;
}

.footer {
    background-color: #b8543a;
    color: #955647;
    text-align: left;
    font-size: smaller;
}


.previous {
    background-color: lightblue;
    grid-area: previous;
}

.aside {
    background-color: rgb(39, 172, 216);
    grid-area: aside;
}

body {
    background-color: #f3c39b;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    
    grid-template-areas: 
    "header header header"
    "aside main previous"
    ". . footer" 
}

#gregorian:hover {
    color:green;
    max-width: fit-content;
    /*
    "The Gregorian calendar is a solar calendar with 12 months of 28–31 days eac and is used in most parts of the world today. Introduced in October 1582 by Pope Gregory XIII as a replacement for, and modification of, the Julian calendar, the principal change was to space leap years differently so as to make the average calendar year 365.2425 days long instead of 365.25."
    */
}
section.main {
    background-color: lightcyan;
    grid-area: main;
    padding: 10px;
    margin-left: 10px;
}

/* Let's try animating the font. Didn't work initially. animation: mymove 5s;*/
#chineseYear {
    color:red;
}

@keyframes mymove {
    50% {font-size: 40px;}
}


/* for reading right to left*/

p.rtl {
    direction: rtl
}

/* ================== GRID ==================== */
/* from code-box.com/create-grid-javascript/ */
#grid {
    display: grid; grid-template-columns: auto ;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    font-size: smaller ;
    text-align: center  ;
}

/* ================== HOVER TEXT ==================== */
/* from sebhastian.com/html-hover-text */
.hovertext01 {
    position: relative;
    border-bottom: 1px dotted black;
}

.hovertext01:hover:before {
    content:attr(data-hover);
    visibility: hidden;   /* it is there all the tiome, but we don't see it all the time */
    opacity: 0;
    width: max-content;  /* dynamically resizes content */
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 5px;
    transition: opacity 1s ease-in-out;
    position: absolute;  /* so it can be displayed outside of the document flow */
    z-index: 1;  /* so it appears over other text */
    left: 0;
    top: 110%;
}

.hovertext01:hover:before {
    opacity: 1;
    visibility: visible;
}

/* ======================= OTHER ==================== */

.hidden{
    display:none
}
 



    